body {
  background-color: rgb(0, 255, 136);
  text-align: center;
  transition: background-color 500ms ease-in-out;
}
h1,
h4{
  margin: 15px auto;
  color: rgb(1, 75, 1);
  background-color: white;
}

.titulo1 {
  border: 2px outset black;
  width: 450px;
  padding: 10px;
  border-radius: 4px;
}

#container{
    margin: auto;
    width: 600px;
    padding-bottom: 20px;
    border: 1px inset black;
    border-radius: 8px;
    box-shadow: 3px 4px 6px;
    background-color: white;
}
#res{
    text-align: left;
}
input{
    text-align: center;
}