body{
  margin: 50px;
  text-align: center;
  background-color: rgba(6, 134, 185, 0.938);
  color: rgb(255, 255, 255); 
  transition: background-color 500ms ease-in;

}
#container {
  background-color: white;
  color: black;
  border: 1px inset black;
  border-radius: 10px;
  box-shadow: 2px 3px 6px;
  width: 600px;
  margin: 30px auto;
  padding: 25px;

}
#res{
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
  text-align: center;
}